<menu>
  <item>
    <path>civicrm/payment/bitcoind/ajax</path>
    <title>BitcoinD Ajax</title>
    <page_callback>Bitcoin_Utils_Ajax_Controller</page_callback>
    <page_arguments></page_arguments>
    <access_arguments>make online contributions</access_arguments>
    <adminGroup>CiviContribute</adminGroup>
  </item>
</menu>